<template name="login">
    <div class="container">
        <div class="logo">
            <img id="logoIndex" src="image/logo.png" alt="" style=" width: 20%"/>
        </div>
        <div style="margin-top: 1%;text-align: center;color: white;font-size: 35px">
            Welcome BLLC.
        </div>
        <div class="loginContent">
            <input type="text" class="form-control form-control-solid placeholder-no-fix" placeholder="请输入手机号码"
                   id="username" style="width: 34%;margin-left: 33%;height: 45px;">
            <input type="password" class="form-control form-control-solid placeholder-no-fix" placeholder="请输入密码"
                   id="userPwd" style="margin-top: 2%;width: 34%;margin-left: 33%;height: 45px;">
            <button class="button loginBtn btn-lg" id="login-js">登陆</button>

        </div>
        <div class="copyright">
            <div>2015 © BLLC.</div>
        </div>
    </div>
</template>