<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>布朗</title>
    <link rel="shortcut icon" type="image/x-icon" href="image/logo.png"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">-->
    <meta name="viewport" content="width=device-width,initial-scale=0.3" />
</head>

