<template name="homePage">
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <nav class="navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="nav navbar-nav navbar-left">
                    <!--<a class="navbar-brand" style="color: white;"><i class="fa fa-bars"></i></a>-->
                    <li class="dropdown" style="color: #407CCD">
                        <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" style="color: white;">
                            <i class="fa fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu pull-left" role="menu" style="text-align: center;padding-left: 20%;padding-right: 20%;width: 300px;">
                            <li style="margin-top: 5%">
                                <img src="web4.png">
                            </li>
                            <li style="margin-top: 5%">{{loginUserName}}</li>
                            <li style="margin-top: 30%;margin-bottom: 5%">
                                <button type="button" class="btn btn-danger btn-block" id="logout">注销</button>
                            </li>
                        </ul>
                    </li>
                    <a class="navbar-brand" style="color: white">
                        城市
                        {{#if weatherData.city_name}}
                            {{weatherData.city_name}}
                        {{else}}
                            --
                        {{/if}}
                    </a>
                    <!--<a class="navbar-brand">-->
                    <!--<img src="{{getWeatherImgSrc weatherData.now.text}}" class="homePage-weather-logo">-->
                    <!--</a>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" style="color: white;">设备列表 <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{#each device}}
                                    <li class="currentD"><a>{{deviceName}}({{type}})</a></li>
                                {{/each}}
                            </ul>
                        </li>
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <!--<button type="button" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">-->
                                <!--<span class="sr-only">Toggle navigation</span>-->
                                <!--<span class="icon-bar"></span>-->
                                <!--<span class="icon-bar"></span>-->
                                <!--<span class="icon-bar"></span>-->
                            <!--</button>-->
                            <a href="javascript:;" class="navbar-toggle navbarSettings">
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container">

            <div class="row">
                <div class="col col-md-1 col-md-offset-1" style="padding: 0;text-align: center;">
                    {{#if deviceType}}
                        <div class="row">
                            <img id="onoff" class="js-click-onoff" style="width: 60%"
                                 src='{{getControlImgSrc 'onoff'}}'/>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <img id="inter" class="js-click-inter" style="width: 60%"
                                 src='{{getControlImgSrc 'inter'}}'/>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <img id="sleep" class="js-click-sleep" style="width: 60%"
                                 src='{{getControlImgSrc 'sleep'}}'/>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <img id="wind" class="js-click-wind" style="width: 60%"
                                 src='{{getControlImgSrc 'wind'}}'/>
                        </div>
                    {{else}}
                        <div class="row">
                            <img id="onoff" class="js-click-onoff" style="width: 60%"
                                 src='{{getControlImgSrc 'onoff'}}'/>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <img id="inter" class="js-click-inter" style="width: 60%"
                                 src='{{getControlImgSrc 'inter'}}'/>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <img id="sleep" class="js-click-sleep" style="width: 60%"
                                 src='{{getControlImgSrc 'low'}}'/>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <img id="wind" class="js-click-wind" style="width: 60%"
                                 src='{{getControlImgSrc 'high'}}'/>
                        </div>
                    {{/if}}

                </div>
                <div class="col col-md-8" style="text-align: center;">
                    <div>
                        <img src="web0.png">
                    </div>
                    <div style="  position: absolute;
                    margin-top: -44%;left: 37%;">
                        <img src="web2.png">

                        <div style="margin-top: -70%;color: forestgreen">{{#if deviceInfo.attr.Hum}}
                            {{deviceInfo.attr.Hum}}%
                        {{else}}
                            --%
                        {{/if}}<br>室内湿度
                        </div>
                    </div>
                    <div style="  position: absolute;
                    margin-top: -35%;left: 60%">
                        <img src="web2.png">

                        <div style="margin-top: -70%;color: forestgreen"> {{#if deviceInfo.attr.Temp}}
                            {{#if deviceType}}
                                {{ deviceInfo.attr.Temp}}℃
                            {{else}}
                                {{TempNew deviceInfo.attr.Temp}}℃
                            {{/if}}
                        {{else}}
                            --℃
                        {{/if}}<br>室内温度
                        </div>
                    </div>
                    <div style="  position: absolute;
                    margin-top: -17%;left: 36%;">
                        <img src="web2.png">

                        <div style="margin-top: -70%;color: orange">{{#if weatherData.now.air_quality.city.pm25}}
                            <span>{{weatherData.now.air_quality.city.pm25}}</span>
                        {{else}}
                            --μg/m³
                        {{/if}}<br>室外PM
                        </div>
                    </div>
                    <div style="margin-top: -33%;">

                        <img src="web1.png">

                        <div style="margin-top: -10%;color: forestgreen">{{#if deviceInfo.attr.PM25}}
                            {{deviceInfo.attr.PM25}}μg/m³
                        {{else}}
                            --%
                        {{/if}}<br>室内PM
                        </div>

                    </div>
                </div>
                <div class="col col-md-1" style="padding: 0">
                    <div class="row">
                        <div class="col">
                            <a tabindex="0" class="btn btn-lg" role="button"
                               style="padding: 0px" id="jhCol">
                                <img id="jhImg" src="/image/jh.png" class="homePage-img"></a>
                        </div>
                    </div>
                    <div class="row">
                        <a tabindex="0" class="btn btn-lg" role="button"
                           style="padding: 0px" id="xfCol">
                            <img id="xfImg" src="/image/xf.png" class="homePage-img"></a>
                    </div>
                    <div class="row">
                        <a tabindex="0" class="btn btn-lg" role="button" data-toggle="popover"
                           data-trigger="focus" data-placement="bottom"
                           data-content="该功能正在开发" style="padding: 0px">
                            <img id="ktImg" src="/image/kt.png" class="homePage-img"></a>

                    </div>
                    <div class="row">
                        <a tabindex="0" class="btn btn-lg" role="button" data-toggle="popover"
                           data-trigger="focus" data-placement="bottom"
                           data-content="该功能正在开发" style="padding: 0px">
                            <img id="dnnImg" src="/image/dnn.png" class="homePage-img"></a>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 5%;color: white">
                <div class="col col-md-2 col-md-offset-2" style="text-align: right;margin-left: 20%;">
                    <img src="/image/water1.png" class="Temp-img-style">
                </div>
                <div class="col col-md-2">
                    <div class="weather-font-size-130">
                        {{#if weatherData.now.humidity}}
                            {{weatherData.now.humidity}}
                        {{else}}
                            --
                        {{/if}}
                        %
                        湿度
                    </div>
                </div>
                <div class="col col-md-2" style="text-align: right;margin-left: -8%;">
                    <img class="pm25-img-style" src="../image/WeatherPM1.png"/>
                </div>
                <div class="col col-md-2">
                    <div class="weather-font-size-130">
                        {{#if weatherData.now.air_quality.city.pm25}}
                            <span>{{weatherData.now.air_quality.city.pm25}}</span>
                        {{else}}
                            --
                        {{/if}}
                        {{#if weatherData.now.air_quality.city.quality}}
                            {{weatherData.now.air_quality.city.quality}}
                        {{else}}
                            --
                        {{/if}}
                        <span class="weather-font-size-80">PM2.5</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 3%;color: white">
                <div class="col col-md-2 col-md-offset-2" style="text-align: right;margin-left: 20%;">
                    <img src="../image/WeatherWindSpeed1.png" class="Wind-img-style">
                </div>
                <div class="col col-md-2">
                    <div class="weather-font-size-130">
                        {{#if weatherData.now.wind_scale}}
                            <span>{{weatherData.now.wind_scale}}</span>
                        {{else}}
                            --
                        {{/if}}
                        <span>km/h</span>
                        {{#if weatherData.now.wind_direction}}
                            <span class="weather-font-size-80">{{weatherData.now.wind_direction}}</span>
                        {{else}}
                            --
                        {{/if}}
                    </div>
                </div>
                <div class="col col-md-2" style="text-align: right;margin-left: -8%;">
                    <img class="thermometer-img-style" src="../image/WeatherThermometer1.png"/>
                </div>
                <div class="col col-md-2">
                    <div class="weather-font-size-130">
                        {{#if weatherData.now.feels_like}}
                            <span>{{weatherData.now.feels_like}}</span>
                        {{else}}
                            --
                        {{/if}}
                        <span>℃</span>
                        <span class="weather-font-size-80">体感温度</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>