<template name="weather">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white;" href="deviceControl">返回</a>
        </div>
        <div id="weatherRow1" class="row" style="margin-top: 6%">
            <div class="col weatherColStyle" style="text-align: center;color: white;">

                <img src="{{getWeatherImgSrc weatherData.now.text}}" id="weatherImg" style="width: 15%">


                    <span style="font-size: 25px">{{#if weatherData.now.temperature}}
                        {{weatherData.now.temperature}}
                    {{else}}
                        --
                    {{/if}}
                        ℃
                        {{#if weatherData.now.text}}
                            <span>{{weatherData.now.text}}</span>
                        {{else}}
                            --
                        {{/if}}</span>

            </div>
        </div>

        <div class="row font-white" style="text-align: center;margin-top: 5%">
            <div class="col-md-2 col-md-offset-2">
                <img src="/image/water1.png" class="Temp-img-style">
            </div>

            <!--第二个图标-->
            <div class="col-md-2">
                <img class="pm25-img-style" src="../image/WeatherPM1.png"/>

            </div>

            <div class="col-md-2">
                <img src="../image/WeatherWindSpeed1.png" class="Wind-img-style">

            </div>

            <div class="col-md-2">
                <img class="thermometer-img-style" src="../image/WeatherThermometer1.png"/>

            </div>
        </div>
        <div class="row" style="color: white;text-align: center;font-size: 25px;margin-top: 1%">
            <div class="col-md-2 col-md-offset-2">
                <div class="weather-font-size-130">
                    {{#if weatherData.now.humidity}}
                        {{weatherData.now.humidity}}
                    {{else}}
                        --
                    {{/if}}
                    %
                    <br>
                    湿度
                </div>
            </div>
            <div class="col-md-2">
                <div class="weather-font-size-130">
                    {{#if weatherData.now.air_quality.city.pm25}}
                        <span>{{weatherData.now.air_quality.city.pm25}}</span>
                    {{else}}
                        --
                    {{/if}}
                    {{#if weatherData.now.air_quality.city.quality}}
                        {{weatherData.now.air_quality.city.quality}}
                    {{else}}
                        --
                    {{/if}}
                    <br>
                    <span class="weather-font-size-80">PM2.5</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="weather-font-size-130">
                    {{#if weatherData.now.wind_scale}}
                        <span>{{weatherData.now.wind_scale}}</span>
                    {{else}}
                        --
                    {{/if}}
                    <span>km/h</span>
                    <br>
                    {{#if weatherData.now.wind_direction}}
                        <span class="weather-font-size-80">{{weatherData.now.wind_direction}}</span>
                    {{else}}
                        --
                    {{/if}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="weather-font-size-130">
                    {{#if weatherData.now.feels_like}}
                        <span>{{weatherData.now.feels_like}}</span>
                    {{else}}
                        --
                    {{/if}}
                    <span>℃</span>
                    <br>
                    <span class="weather-font-size-80">体感温度</span>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: center;color: white;font-size: 25px;margin-top: 5%">
            <div class="col-md-1"></div>
            {{#each weatherData.future}}
                <div class="col-md-2">
                    {{this.day}}
                    <br>
                    {{getMonthDayString this.date}}
                    <br>
                    <img class="weatherImgMiniStyle" src="{{getWeatherImgSrc this.text}}"/>
                    <br>
                    {{this.high}}°
                    <br>
                    {{getWindString this.wind}}
                </div>
            {{/each}}
        </div>
    </div>
</template>