.login {
  background-color: #2EA7E0;
  background-image: url('blBack.png');
  background-repeat: no-repeat;
  background-size: cover;
  .logo {
    text-align: center;
    margin-top: 10%;
  }
  .copyright {
    text-align: right;
    bottom: 0;
    position: fixed;
    color: white;
    width: 90%;
  }
  .loginContent {
    text-align: center;
    margin-top: 3%;
  }
  .loginBtn {
    border: white 1px solid;
    background-color: rgba(33, 85, 163, 0.24);
    width: 34%;
    color: white;
    border-radius: 5px;
    margin-top: 2%;
  }
}

.homePage {
  background-color: #2EA7E0;
  background-image: url('blBack.png');
  background-repeat: no-repeat;
  background-size: cover;
  .logo {
    text-align: center;
    margin-top: 7%;
  }
  .homePage-img {
    width: 60%;
  }
  .homeContent {
    text-align: center;
    margin-top: 15%;
  }
}

.nextStep {
  background-color: #2EA7E0;
  border-color: white;
  width: 60%;
  color: white;
}

.cs-deviceControl-mune.row {
  margin-top: 17%;
  height: 10%;
  margin-left: 10%;
  background-color: transparent;
  width: 80%;
  padding: 2.9% 0;
}

.Temp-img-style, .pm25-img-style, .Wind-img-style, .thermometer-img-style {
  width: 25%;
}
.weather-font-size-130{
  margin-top: 12%;
}
.newtrendshare {
  position: absolute;
  right: 10%;
}

.newTrend-weather-logo {
  width: 20%;
  position: absolute;
  left: 10%;
  margin-top: 50px;
}

.weatherImgMiniStyle {
  width: 50%;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #4A84CF;
  border-color: #337ab7;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #4A84CF;
}

.shape-outer {
  border-style: solid;
  border-width: 0.4rem;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-color: rgba(0, 0, 0, 0.1);
  width:22rem;
  height: 22rem;
  margin: 4rem auto;
}

.shape-inner {
  border-radius: 50%;
  bottom: 0.8rem;
  left: 0.8rem;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  background: rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: 20rem;
  margin: 4rem auto;
}
.forgetPwd{
  width: 34%;
  margin-left: 33%;
  text-align: right;
  margin-top: 2%;
}
a.navbar-toggle.navbarSettings{
  color: white;
  font-size: 20px;
  padding-top: 5px;
}