div#js-bootstrap-offcanvas {
    right: 0%;
    position: absolute;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 999;
    width: 0%;
}
.navbarList{
    padding-bottom: 8%;
    padding-top: 8%;
    border-bottom: 3px solid gray;
    color: rgb(82, 80, 80);
    font-size: 20px;
}
.bavbarDisplay{
    display: block;
}
.bavbarDisplays{
    display: none;
}