<template name="layout">
    {{> navbar}}
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        {{> yield}}
        <!--{{> quickSidebar}}-->
    </div>
    <!-- END CONTAINER -->

    <!--{{> footer}}-->
</template>