<template name="navbar">
    <div class="navbarRight navbarDisplay" id="js-bootstrap-offcanvas">
        <ul style="list-style-type:none">
            <li class="navbarList"><i class="fa fa-times" id="closeRightBar" style="font-size: 24px"></i></li>
            <li class="navbarList" data-toggle="modal" data-target="#getHelp">获得帮助</li>

            <li class="navbarList"><a href="https://bllc.tmall.com/?spm=a220o.1000855.1997427721.d4918089.DAhnZU" style="color: black;">在线购买</a></li>
            <li class="navbarList" data-toggle="modal" data-target="#connectUs">联系布朗</li>
            <!--<li class="dropdown navbarList">-->
                <!--<a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">-->
                    <!--联系布朗-->
                <!--</a>-->
                <!--<ul class="dropdown-menu pull-right" role="menu" style="text-align: center;padding-left: 10%;padding-right: 10%;">-->
                    <!--<li style="margin-top: 5%">-->
                        <!--<img src="web5.png">400-969-8188-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="modal fade" id="getHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">获得帮助</h4>
                </div>
                <div class="modal-body">
                    气象站屏幕不显示且旋转无声音
                    <br>
                    1.请确认以下是否正确连接
                    <br>
                    电源插头和插座的连接。电源组件和电源线的连接。底面的电源孔与电源插头的连接。
                    <br>
                    2.使用地区是否停电？
                    <br>
                    请等待恢复供电。
                    <br>
                    不排风或者风量与购买时有所减弱
                    <br>
                    1.是否正确安装滤网
                    <br>
                    请确认滤网是否正确安装。
                    <br>
                    2.滤网有无污垢？
                    <br>
                    据污垢的程度，有时会影响风量。请清洁滤网，无改善时，需要更换滤网。
                    <br>
                    运转中发生送风之外的异常声音
                    <br>
                    请用在运行模式下改变风量。确认在所选择的模式下音质有无变化？请确认主机中没
                    <br>
                    有其他杂物。
                    <br>
                    气味无法消散
                    <br>
                    平时持续产生的气味成分（宠物味、建材味）并不能完全去除。
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="connectUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">联系我们</h4>
                </div>
                <div class="modal-body">
                    <img src="web5.png">400-969-8188
                </div>
            </div>
        </div>
    </div>
</template>