<template name="sidebar">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
                <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                <li class="sidebar-search-wrapper">
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                    <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                    <form class="sidebar-search " action="extra_search.html" method="POST">
                        <a href="javascript:;" class="remove">
                            <i class="icon-close"></i>
                        </a>

                        <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="查找...">-->
                        <!--<span class="input-group-btn">-->
                        <!--<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>-->
                        <!--</span>-->
                        <!--</div>-->
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>

                <!--<li>-->
                <!--<a href="{{pathFor "indexPage"}}">-->
                <!--<i class="icon-briefcase"></i>-->
                <!--<span>首页维护</span>-->
                <!--<span class="selected"></span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li class="start active open">-->
                <!--<a href="{{pathFor "enterpriseList"}}">-->
                <!--<i class="icon-home"></i>-->
                <!--<span class="title">企业新闻列表</span>-->
                <!--<span class="selected"></span>-->
                <!--&lt;!&ndash;<span class="arrow open"></span>&ndash;&gt;-->
                <!--</a>-->

                <!--</li>-->
                {{#if isInRole 'admin,manager' 'defaultGroup'}}
                    <li>
                        <a href="#">
                            <i class="icon-settings"></i>
                            <span>企业新闻</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            {{#if isInRole 'admin' 'defaultGroup'}}
                                <li>
                                    <a href="{{pathFor "enterpriseNews"}}">
                                        <i class="icon-paper-plane"></i>
                                        新闻发布</a>
                                </li>
                            {{/if}}
                            <li>
                                <a href="{{pathFor "eNList"}}">
                                    <i class="icon-tag"></i>
                                    历史新闻</a>
                            </li>
                        </ul>
                    </li>
                {{/if}}

                <li>
                    <a href="#">
                        <i class="icon-users"></i>
                        <span>公司在投项目</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">

                        {{#if isInRole 'admin' 'defaultGroup'}}
                            <li>
                                <a href="{{pathFor "enterpriseProjects"}}">
                                    <i class="icon-paper-plane"></i>
                                    项目发布</a>
                            </li>
                        {{/if}}
                        <li>
                            <a href="{{pathFor "ePList"}}">
                                <i class="icon-tag"></i>
                                项目列表</a>
                        </li>
                        {{#if isInRole 'client' 'defaultGroup'}}
                            <li>
                                <a href="{{pathFor "myFunds"}}">
                                    <i class="icon-tag"></i>
                                    我的基金</a>
                            </li>
                        {{/if}}
                    </ul>
                </li>
                {{#if isInRole 'admin,manager' 'defaultGroup'}}
                    <li>
                        <a href="#">
                            <i class="icon-list"></i>
                            <span>公司招聘信息</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            {{#if isInRole 'admin' 'defaultGroup'}}
                                <li>
                                    <a href="{{pathFor "recruitment"}}">
                                        <i class="icon-paper-plane"></i>
                                        发布招聘</a>
                                </li>
                            {{/if}}
                            <li>
                                <a href="{{pathFor "recruitmentList"}}">
                                    <i class="icon-tag"></i>
                                    招聘信息列表</a>
                            </li>

                        </ul>
                    </li>
                {{/if}}
                {{#if isInRole 'sales,admin,manager' 'defaultGroup'}}
                    <li>
                        <a href="#">
                            <i class="icon-briefcase"></i>
                            <span>销售管理</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">

                            <li>
                                <a href="{{pathFor "saleSystem"}}">
                                    <i class="icon-paper-plane"></i>
                                    客户列表</a>
                            </li>

                            {{#if isInRole 'admin,manager' 'defaultGroup'}}
                                <li>
                                    <a href="{{pathFor "reportList"}}">
                                        <i class="icon-tag"></i>
                                        业绩报表</a>
                                </li>
                            {{/if}}
                        </ul>
                    </li>
                {{/if}}
                {{#if isInRole 'admin' 'defaultGroup'}}
                    <li>
                        <a href="{{pathFor "users"}}">
                            <i class="icon-monitor"></i>
                            <span>经理管理</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                {{/if}}
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
</template>