<template name="deviceControl">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white;" href="homePage">返回</a>
            <a class="navbar-brand" style="color: white;" href="weather">室外天气</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" style="color: white;">净化设备列表 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#each device}}
                            <li class="currentD"><a>{{deviceName}}({{type}})</a></li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row" style="margin-top: 1%;text-align: center;color: white;margin-bottom: 3%">
            <div class="col-md-12">
                <h3>{{currentDeviceName}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="color: white;">
                <div class="row" style="text-align: center;padding-bottom: 5%;margin-top: 5%">
                    <div class="col-md-3 col-md-offset-3">
                        {{#if deviceInfo.attr.Temp}}
                            <h3 id="HomeTemp">{{deviceInfo.attr.Temp}}℃</h3>
                        {{else}}
                            <h3 id="HomeTemp">/℃</h3>
                        {{/if}}
                        <h3>室内温度</h3>
                    </div>
                    <div class="col-md-3">
                        {{#if deviceInfo.attr.Hum}}
                            <h3 id="HomeHum">{{deviceInfo.attr.Hum}}%</h3>
                        {{else}}
                            <h3 id="HomeHum">/%</h3>
                        {{/if}}
                        <h3>室外湿度</h3>
                    </div>
                </div>
                <div class="row" style="color: white;margin-top: 6%;text-align: center;font-size: 25px">
                    <div class="col-md-3">室外
                        {{#if weatherData.now.air_quality.city.quality}}
                            <span>{{weatherData.now.air_quality.city.quality}}</span>
                        {{else}}
                            <span>--</span>
                        {{/if}}</div>

                    <div class="col-md-3">
                        {{#if weatherData.now.temperature}}
                            <span>{{weatherData.now.temperature}}℃</span>
                        {{else}}
                            <span>--℃</span>
                        {{/if}}

                    </div>
                    <div class="col-md-3">
                        城市
                        {{#if weatherData.city_name}}
                            {{weatherData.city_name}}
                        {{else}}
                            --
                        {{/if}}
                    </div>
                    <div class="col-md-3">
                        {{#if weatherData.now.text}}
                            {{weatherData.now.text}}
                        {{else}}
                            --
                        {{/if}}
                    </div>
                </div>

                <div class="row" style="text-align: center;margin-top: 10%">
                    <div class="col-md-3">
                        <img id="onoff" class="js-click-onoff" style="width: 60%"
                             src='{{getControlImgSrc 'onoff'}}'/>
                    </div>
                    <div class="col-md-3">
                        <img id="inter" class="js-click-inter" style="width: 60%"
                             src='{{getControlImgSrc 'inter'}}'/>
                    </div>
                    <div class="col-md-3">
                        <img id="sleep" class="js-click-sleep" style="width: 60%"
                             src='{{getControlImgSrc 'sleep'}}'/>
                    </div>
                    <div class="col-md-3">
                        <img id="wind" class="js-click-wind" style="width: 60%"
                             src='{{getControlImgSrc 'wind'}}'/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>