<template name="newtrend">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white;" href="homePage">返回</a>
            <a class="navbar-brand" style="color: white;" href="weather">室外天气</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" style="color: white;">净化设备列表 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#each device}}
                            <li class="currentD"><a>{{deviceName}}({{type}})</a></li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row" style="margin-top: 1%;text-align: center;color: white;margin-bottom: 3%">
            <div class="col-md-12">
                <h3>{{currentXFDeviceName}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="color: white;">
                <div class="row" style="text-align: center">
                    <img src="{{getWeatherImgSrc weatherData.now.text}}" class="newTrend-weather-logo">
                    <img src="../image/1213_01.png" style="width: 100%;height: 200px">
                </div>
                <div class="row" style="border-top: 1px solid white;color: white;text-align: center;font-size: 25px;padding-top: 3%" id="shiwai">
                    <div class="col-md-6">
                        <img style="width: 30%" src="../image/9_03.png"/>
                    </div>
                    <div class="col-md-6">
                        <img style="width: 30%" src="../image/10_03.png" />
                    </div>
                </div>
                <div class="row" style="text-align: center;color: white;font-size: 30px">
                    <div class="col-md-6">
                        {{#if deviceInfo.attr.Temp}}
                            <label id="HomeTemp" style="font-size:25px;">{{TempNew deviceInfo.attr.Temp}}℃</label>
                        {{else}}
                            --℃
                        {{/if}}
                    </div>
                    <div class="col-md-6">
                        {{#if deviceInfo.attr.Time}}
                            <label id="HomeHum" style="font-size:25px;">{{deviceInfo.attr.Hum}}%</label>
                        {{else}}
                            --%
                        {{/if}}
                    </div>
                </div>
                <div class="row" style="text-align: center;margin-top: 5%">
                    <div class="col-md-3">
                        <img id="onoff" class="js-click-onoff" style="width: 60%"
                             src='{{getControlImgSrc 'onoff'}}'/>
                    </div>
                    <div class="col-md-3">
                        <img id="inter" class="js-click-inter" style="width: 60%"
                             src='{{getControlImgSrc 'inter'}}'/>
                    </div>
                    <div class="col-md-3">
                        <img id="sleep" class="js-click-sleep" style="width: 60%"
                             src='{{getControlImgSrc 'low'}}'/>
                    </div>
                    <div class="col-md-3">
                        <img id="wind" class="js-click-wind" style="width: 60%"
                             src='{{getControlImgSrc 'high'}}'/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>